.header {
    position: fixed;
    width: 100%;
    height: 60px;
    z-index: 2;
    display: flex;
    align-items: center;
    background-color: var(--black3); /* Define --black3 in your :root or replace with a color value */
}

.contentWrapper {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 0 20px; /* Adjust padding as needed */
}

.menuItems {
    list-style-type: none;
    display: flex;
    align-items: center;
}

.menuItem {
    height: 60px;
    display: flex;
    align-items: center;
    margin: 0 15px;
    color: white; /* Adjust color as needed */
    font-weight: 500;
    cursor: pointer;
}

.menuItem a {
    text-decoration: none;
    color: inherit; /* Inherits the color from .menuItem */
}

.menuItem a:hover {
    color: var(--pink); /* Replace with your hover color */
}

/* Responsive adjustments if needed */
@media (max-width: 768px) {
    .menuItems {
        justify-content: center;
    }
}

/* Add keyframe animations if needed */
